body {
  /* width: 800px;
  margin: 0 auto; */
}

.title {
  padding: 20px;

  background-color: black;
  color: white;

  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.game-content {
  width: 800px;
  margin: 0 auto;
}

.game-score {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.score-number {
  font-size: 60px;
  font-weight: bold;

  margin: 0;
}

.score-label {
  font-size: 20px;

  margin: 0;
}

.clock-img {
  width: 32px;
}

.hearts {
  margin-top: 20px;
  text-align: right;
}

.hearts img {
  width: 32px;
}

.start-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;

  font-size: 30px;

  background-color: blue;
  color: white;
}

#bg-container {
  position: relative;
  margin: 0 auto;
}

#bg {
  width: 800px;
  height: 500px;

  background-color: black;

  background: url('./images/bg.png') no-repeat;
  background-size: cover;
}

#hero {
  display: inline-block;
  width: 35px;
  height: 54px;

  background: url('./images/hero.png') no-repeat;

  position: absolute;
  left: calc((800px / 2) - (35px / 2));
  bottom: 0px;
}

#hero.face {
  background-position: 0px;
}

#hero.left {
  background-position: -70px;
}

#hero.right {
  background-position: -105px;
}
